<!-- navigation -->
<!-- <nav class="navigation">
  <div class="nav-group" [ngClass]="{ 'd-none': isMobile && !rightSwipe }">
    <ul>
      <li>
        <a class="logo">
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="33.004px"
            height="33.003px"
            viewBox="0 0 33.004 33.003"
            style="enable-background:new 0 0 33.004 33.003;"
            xml:space="preserve"
          >
            <g>
              <path
                d="M4.393,4.788c-5.857,5.857-5.858,15.354,0,21.213c4.875,4.875,12.271,5.688,17.994,2.447l10.617,4.161l-4.857-9.998
                                c3.133-5.697,2.289-12.996-2.539-17.824C19.748-1.072,10.25-1.07,4.393,4.788z M25.317,22.149l0.261,0.512l1.092,2.142l0.006,0.01
                                l1.717,3.536l-3.748-1.47l-0.037-0.015l-2.352-0.883l-0.582-0.219c-4.773,3.076-11.221,2.526-15.394-1.646
                                C1.469,19.305,1.469,11.481,6.277,6.672c4.81-4.809,12.634-4.809,17.443,0.001C27.919,10.872,28.451,17.368,25.317,22.149z"
              />
              <g>
                <circle cx="9.835" cy="16.043" r="1.833" />
                <circle cx="15.502" cy="16.043" r="1.833" />
                <circle cx="21.168" cy="16.043" r="1.833" />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </a>
      </li>
      <li>
        <a data-navigation-target="chats" class="active">
          <i class="ti-comment-alt"></i>
        </a>
      </li>
      <li data-navigation-target="favorites" class="brackets">
        <a>
          <i class="ti-star"></i>
        </a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#editProfileModal">
          <i class="ti-pencil"></i>
        </a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#settingModal">
          <i class="ti-settings"></i>
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <i class="ti-power-off"></i>
        </a>
      </li>
    </ul>
  </div>
</nav> -->
<!-- ./ navigation -->

<div class="col-md-1 col-sm-3 col-xs-3 left-profile-panel">
  <div class="col-md-12 profile-pic">
      <span class="profile-status available"></span>
      <img src="assets/img/user.jfif ">
      <div class="col-md-12 p-l-r-0">
          <button type="button" class="btn btn-default dropdown-toggle status-change available-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Online <span class="caret"></span>
            </button>
          <ul class="dropdown-menu status-dropdown">
              <li><a href="#">Online</a></li>
              <li><a href="#">Busy</a></li>
              <li><a href="#">Idle</a></li>
          </ul>
      </div>
      <div class="col-md-12 p-l-r-0 m-t-100">
          <ul class="profile-option">
              <li>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  <span class="notification-lit"></span>
              </li>
              <li>
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              </li>
              <li>
                  <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
              </li>
              <li>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <span class="notification-lit"></span>
              </li>
              <li>
                  <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
              </li>
          </ul>
      </div>
      <div class="col-md-12 p-l-r-0 profile-setting">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </div>
  </div>
</div>