body {
    font-family: "Raleway", sans-serif !important;
}

.p-l-0 {
    padding-left: 0px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-l-r-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-t-150 {
    margin-top: 150px;
}


/*LEFT PANEL BEGIN*/

.left-profile-panel {
    background-color: #133c4e;
    padding: 50px 25px;
    height: 100%;
    position: fixed;
}

.left-profile-panel .profile-pic {
    text-align: center;
}

.left-profile-panel .profile-pic img {
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.left-profile-panel span.profile-status,
.msg-list .msg-items .msg-card .user-img span.friends-status,
.msg-chatbox-img span.friends-status,
.profile-owner span.profile-status,
.chat-user-details .user-img .user-status {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    z-index: 1;
}

.left-profile-panel ul.status-dropdown {
    min-width: 110px !important;
}

.idle {
    background-color: #fdb913;
}

.busy {
    background-color: #d74654;
}

.available {
    background-color: #01fd14;
}

.offline {
    background-color: #818181;
}

.idle-status {
    border-color: #fdb913;
}

.busy-status {
    border-color: #d74654;
}

.available-status {
    border-color: #01fd14;
}

.offline-status {
    border-color: #818181;
}

.idle-status-details {
    color: #fdb913;
}

.busy-status-details {
    color: #d74654;
}

.available-status-details {
    color: #01fd14;
}

.offline-status-details {
    color: #818181;
}

.left-profile-panel .status-change {
    background-color: transparent;
    padding: 5px;
    color: #ffffff;
    border-radius: 25px;
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
}

.left-profile-panel .status-change span {
    display: inline-block;
    margin-left: 5px;
}

.left-profile-panel .profile-option {
    margin: 0;
    padding: 0;
    text-align: center;
}

.left-profile-panel .profile-option li {
    list-style: none;
    opacity: 0.5;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
}

.left-profile-panel .profile-option li.active,
.left-profile-panel .profile-option li:hover {
    opacity: 1;
    cursor: pointer;
}

.left-profile-panel .profile-option li span.notification-lit {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #2ab193;
    top: 0;
    right: 20px;
    border: 3px solid #133c4e;
}

.left-profile-panel .profile-setting {
    opacity: 0.5;
    color: #ffffff;
    font-size: 40px;
    margin-top: 200px;
}

.left-profile-panel .profile-setting:hover {
    cursor: pointer;
    opacity: 1;
}


/*LEFT PANEL END*/

.search-bar-container {
    padding: 12px;
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    padding-top: 20px;
}

.msg-list {
    background-color: #fbfbfb;
    padding: 0px;
    height: 100%;
    position: fixed;
    /* padding-top: 5px; */
}

.msg-list input[type="text"].searchbox,
.msgbox-container input[type="text"].msgbox {
    border: 1px solid #ebebeb;
    border-radius: 25px;
    width: 100%;
    padding: 10px 50px 10px 50px;
    color: #868686;
    background-image: url("/assets/img/search-icon.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.msg-list input[type="text"].searchbox:focus,
.msgbox-container input[type="text"].msgbox:focus {
    outline: none;
}

.msg-list .sorting {
    margin-top: 15px;
}

.msg-list .sorting label {
    font-weight: 700;
    color: #c0c0c0;
}

.msg-list .sort-dropdown {
    background-color: transparent;
    color: #000000;
    border: none;
    font-weight: 700;
    padding-top: 3px;
    box-shadow: none !important;
}

.msg-list .sort-dropdown:focus,
.msg-list .sort-dropdown:active {
    background-color: transparent;
}

.msg-list .sort-dropdown span.caret {
    display: inline-block;
    margin-left: 10px;
}

.msg-list .msg-items {
    margin-top: 5px;
    padding: 25px;
    max-height: 840px;
    overflow-y: scroll;
}

.msg-list .msg-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.msg-list .msg-items::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.msg-list .msg-items::-webkit-scrollbar-thumb {
    background-color: #133c4e;
}

.msg-list .msg-items .msg-card {
    position: relaive;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    min-height: 90px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.17);
}

.msg-list .msg-items .msg-card:hover {
    cursor: pointer;
}

.msg-list .msg-items .msg-card .user-img {
    position: relative;
}

.msg-list .msg-items .msg-card .user-img img {
    width: 100%;
    border-radius: 50%;
}

.msg-list .msg-items .msg-card .user-img span.friends-status {
    top: 5px;
    left: 15px;
    border: 2px solid #ffffff;
}

.msg-list .msg-items .msg-card.active .user-img span.friends-status {
    border: 2px solid #133c4e;
}

.msg-list .msg-items .msg-card h4.friend-name {
    font-size: 15px;
    font-weight: 800;
}

.msg-list .msg-items .msg-card p.friend-msg {
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg-list .friend-details {
    position: relative;
}

.msg-list .msg-items .msg-card span.msg-time {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 10px;
}

.msg-list .msg-items .msg-card .unread-tag {
    position: absolute;
    top: -7px;
    right: -15px;
    display: block;
    background-color: #24b093;
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 25px;
}

.active {
    background-color: #133c4e !important;
    color: #ffffff;
}

.sorting ul.dropdown-menu {
    left: 12px !important;
}

.msg-chatbox {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    position: fixed;
    height: 100%;
    border-top: 0px;
    border-bottom: 0px;
}

.msg-chatbox .msg-chat-header {
    padding: 10px;
    border-top: 0px;
    border-bottom: 1px solid #ebebeb;
    height: 80px;
}

.msg-chat-header .msg-chatbox-img {
    position: relative;
    text-align: center;
}

.msg-chat-header .msg-chatbox-img img {
    width: 100%;
    border-radius: 50%;
}

.msg-chatbox-img span.friends-status {
    height: 12px;
    width: 12px;
    top: 5px;
    left: 12px;
    border: 2px solid #ffffff;
}

.msg-chat-header .friend-details h4.friend-name {
    font-size: 25px;
    font-weight: 800;
}

.status-details ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15px;
}

.status-details ul li {
    display: inline-block;
    font-size: 15px;
    color: #868686;
    margin-right: 25px;
}

.status-details ul li:first-child {
    position: relative;
}

.status-details ul li:first-child::after {
    content: "|";
    position: absolute;
    right: -15px;
}

.status-details ul li span {
    display: inline-block;
    margin-right: 5px;
}

.msg-chat-header ul.setting {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-top: 10px;
}

.msg-chat-header ul.setting li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.msg-chat-header ul.setting li a {
    background-size: 30px 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
    opacity: 0.5;
}

.msg-chat-header ul.setting li a:hover {
    opacity: 1;
}

.msg-chat-header ul.setting li a.call {
    background-image: url("/assets/img/call-icon.png");
}

.msg-chat-header ul.setting li a.settings {
    background-image: url("/assets/img/settings-icon.png");
}

.msg-chat-header ul.setting li a.privatechat {
    background-image: url("/assets/img/privatechat-icon.png");
}

.msg-chat-header ul.setting li a.videocall {
    background-image: url("/assets/img/videocall-icon.svg");
}

.msg-chat-header ul.setting li a.screenshare {
    background-image: url("/assets/img/screenshare-icon.svg");
}

.msg-chatbox .msg-container {
    min-height: 400px;
    max-height: 900px;
    padding: 25px;
    overflow-y: scroll;
}

.msg-chatbox .msg-container.minimized-audio {
    min-height: 570px;
    max-height: 570px;
}

.msg-chatbox .msg-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.msg-chatbox .msg-container::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.msg-chatbox .msg-container::-webkit-scrollbar-thumb {
    background-color: #133c4e;
}

.msg-chatbox .msgbox-container {
    padding: 20px;
    /* background-color: #fbfbfb; */
    border-top: 1px solid #ebebeb;
}

.msgbox-container input[type="text"].msgbox {
    background-image: none;
    border-color: #133c4e;
    width: 100%;
    font-weight: 300;
}

.msgbox-container ul.action-item {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 5px;
    right: 25px;
}

.msgbox-container ul li {
    margin: 5px;
    display: inline-block;
}

.msgbox-container ul li a {
    background-size: contain;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.attachment-icon {
    background-image: url("/assets/img/attachment-icon.png");
}

.smiley-icon {
    background-image: url("/assets/img/smiley-icon.png");
}

.send-icon {
    background-image: url("/assets/img/send-icon.png");
}

.msgbox-container .msg-sent-btn a {
    display: block;
    background-color: #133c4e;
    height: 42px;
    width: 42px;
    color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.27);
}

.msg-container .msg {
    margin-bottom: 20px;
}

.msg-container .msg .msg-user-img {
    text-align: center;
}

.msg-container .msg .msg-user-img img {
    max-width: 100%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.msg-container .msg .msg-content {
    padding: 15px;
    border-radius: 30px;
    border: 1px solid transparent;
}

.msg-container .msg .msg-content p {
    padding: 0;
    margin: 0;
    line-height: 22px;
    word-break: break-all;
}

.msg-container .msg .msg-content img {
    max-width: 100%;
    max-height: 150px;
}

.msg-container .msg .msg-content img:hover {
    cursor: pointer;
}

.msg-container .msg .msg-name {
    font-size: 12px;
    color: #868686;
    float: right;
    margin-top: 5px;
    font-weight: 600;
    display: block;
}

.msg-container .msg .msg-time {
    font-size: 10px;
    color: #868686;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    display: block;
}

.msg-container .msg.receive .msg-time {
    float: left;
}

.msg-container .msg.receive .msg-name {
    float: left;
}

.msg-container .msg.receive .msg-content {
    background-color: #fbfbfb;
    border-color: #ebebeb;
    border-top-left-radius: 0px;
    width: auto;
}

.msg-container .msg.send .msg-content {
    /* background-color: #133c4e;
  border-color: #133c4e;
  color: #ffffff; */
    background-color: #fbfbfb;
    border-color: #ebebeb;
    border-top-right-radius: 0px;
    color: #000000;
    width: auto;
    float: right;
}

.msg-container .msg.send .msg-content.url,
.msg-container .msg.receive .msg-content.url {
    width: inherit !important;
}

.msg-container .msg.send .msg-content.url p span,
.msg-container .msg.receive .msg-content.url p span {
    font-weight: 700;
}

.msg-container .msg.send .msg-content.url img,
.msg-container .msg.receive .msg-content.url img {
    max-width: 100%;
}

.msg-container .msg.send .msg-content.url a {
    color: #000000;
}

.msg-container .msg.receive .msg-content.url a {
    color: #000000;
}

.msg-container .msg.send .msg-content.url a:hover,
.msg-container .msg.receive .msg-content.url a:hover {
    color: #133c4e;
}

.msg-container .msg.send .msg-time span {
    float: right;
}

.user-auth-static {
    padding: 50px;
    background-image: url("/assets/img/login-img-bg-3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    position: fixed;
}

.user-auth-form-container {
    padding: 150px 100px;
    padding-bottom: 100px;
}

.user-auth-form h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
}

.user-auth-form a.social-login {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 15px;
    color: #ffffff;
    font-weight: 600;
    padding-left: 30px;
}

.fb {
    background-color: #1d4db6;
    background-image: url("/assets/img/fb.png");
    background-size: 20px 20px;
    background-position: 20px;
    background-repeat: no-repeat;
}

.tw {
    background-color: #248cec;
    background-image: url("/assets/img/tw.png");
    background-size: 20px 20px;
    background-position: 20px;
    background-repeat: no-repeat;
}

.seprator {
    border-bottom: 2px solid #94a1a2;
    width: 50px;
    display: block;
    margin-left: 35%;
    position: relative;
}

.seprator-content {
    font-size: 15px;
    display: block;
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: #ffffff;
    width: 25px;
    text-align: center;
}

form {
    margin: 2em 0;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 25px;
}

.field-container label,
.field-container input {
    transition: all 0.2s;
    touch-action: manipulation;
}

.field-container input {
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    padding: 5px;
}

.field-container input:focus {
    outline: 0;
    border-bottom: 2px solid #f67f0e;
}

.field-container label {
    letter-spacing: 0.05em;
    font-size: 12px;
    color: #94a1a2;
    font-weight: 600;
}

.field-container input:placeholder-shown+label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

.field-container input::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

.field-container input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.field-container input:not(:placeholder-shown)+label,
.field-container input:focus+label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.user-auth-form p.redirect {
    font-size: 15px;
}

.user-auth-form p.redirect a {
    display: inline-block;
    font-size: 15px;
    color: #1737a2;
}

.user-auth-form p.redirect a:hover {
    cursor: pointer;
}

.user-auth-form input[type=checkbox] {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.user-auth-form input[type="checkbox"]:focus {
    outline: none;
}

.user-auth-form-checkbox {
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
    float: left;
}

.user-auth-form-checkbox::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    border: 0 solid #ccc;
    border-radius: 0;
    background: none;
    vertical-align: middle;
    background-image: url(/assets/img/checkbox-off.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    margin-right: 10px;
}


/* .check-box input[type=checkbox]:focus+.user-auth-form-checkbox::before {
  outline: 2px auto #62a52d;
} */

.check-box input[type="checkbox"]:checked+.user-auth-form-checkbox::before {
    background: url(/assets/img/checkbox-on.png) !important;
    background-size: contain !important;
}

.user-auth-form a.forgot-password {
    font-size: 15px;
    color: #94a1a2;
    float: right;
    font-weight: 500;
}

.user-auth-form a.auth-btn {
    padding: 15px;
    border: 0;
    border-radius: 25px;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    color: #94a1a2;
    font-weight: 600;
    text-align: center;
    margin-right: 15px;
    border: 2px solid #94a1a2;
    background-color: transparent;
    font-size: 15px;
}

.active-screen {
    background-color: #f67f0e !important;
    border-color: #f67f0e !important;
    color: #ffffff !important;
}

ul.footer-link {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.footer-link li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

ul.footer-link li:first-child {
    padding-left: 0px;
    position: relative;
}

ul.footer-link li:first-child::after {
    content: "|";
    position: absolute;
    right: 0;
}

ul.footer-link li a {
    color: #1737a2;
    font-size: 15px;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .user-auth-form-container {
        padding: 20px 20px;
        padding-top: 50px;
    }
    .user-auth-form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .user-auth-form h3 {
        font-size: 20px;
    }
    .fb,
    .tw {
        background-position: 15px;
    }
    .field-container label {
        font-size: 10px;
    }
    .field-container input {
        font-size: 12px;
    }
    .user-auth-form-checkbox,
    .user-auth-form a.forgot-password {
        font-size: 13px;
    }
    .user-auth-form a.auth-btn {
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    ul.footer-link li a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .fb,
    .tw {
        background-position: 10px;
    }
    .user-auth-form a.auth-btn {
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* @media only screen and (max-width: 1360px) {
  .fb,
  .tw {
      background-position: 15px;
      background-size: 15px 15px;
  }
  .auth-btn {
      padding-left: 20px !important;
      padding-right: 20px !important;
  }
}

@media only screen and (max-width: 1250px) {
  .fb,
  .tw {
      background-position: 10px;
      background-size: 15px 15px;
  }
  .user-auth-form a.social-login {
      padding-left: 25px;
      font-size: 10px;
  }
  .user-auth-form-checkbox,
  .user-auth-form a.forgot-password,
  .user-auth-form a.auth-btn {
      font-size: 10px;
  }
  .field-container label,
  .field-container input {
      font-size: 8px;
  }
  .user-auth-form h3 {
      font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .user-auth-form-container {
      padding: 150px 50px;
  }
}

@media only screen and (min-width: 768px) {
  .fb,
  .tw {
      background-position: 20px;
      background-size: 25px 25px;
  }
  .user-auth-form a.social-login {
      padding-left: 25px;
      font-size: 15px;
  }
} */

.profile-panel {
    position: relative;
}

.profile-panel-header {
    padding: 20px;
    height: 80px;
    border-bottom: 1px solid #f7f8f9;
}

.profile-panel-header .img-container {
    text-align: center;
}

.profile-panel-header img {
    width: 100%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-panel-header button.name {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
}

.profile-panel-header button.name:hover,
.profile-panel-header button.name:active,
.profile-panel-header button.name:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.profile-panel-header button.name span {
    margin-left: 10px;
}

.chat-user-details {
    padding: 25px;
}

.chat-user-details h4 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.chat-user-details .user-img {
    position: relative;
}

.chat-user-details .user-img img {
    width: 100%;
    border-radius: 50%;
}

.chat-user-details .user-img .user-status {
    top: 15px;
    left: 20px;
    border: 3px solid #ffffff;
    height: 12px;
    width: 12px;
}

.chat-user-details span.status {
    font-size: 12px;
    display: block;
    text-align: center;
    font-weight: 600;
}

.chat-user-details .chat-user-option h5 {
    font-size: 15px;
    color: #868686;
    font-weight: 700;
}

.chat-user-details .chat-user-option ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.chat-user-details .chat-user-option ul li {
    margin-top: 10px;
    margin-bottom: 15px;
}

.chat-user-details .chat-user-option ul li a {
    font-size: 14px;
    color: #868686;
    font-weight: 500;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.chat-user-details .chat-user-option ul li a:hover,
.chat-user-details .chat-user-option ul li a:active,
.chat-user-details .chat-user-option ul li a:focus {
    text-decoration: none;
    color: #133c4e !important;
}

.chat-user-details .chat-user-option ul li input[type="text"] {
    background-image: url(/assets/img/search-icon.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    border: 0px;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 500;
}

.chat-user-details .chat-user-option ul li input[type="text"]:focus,
.chat-user-details .chat-user-option ul li input[type="text"]:active {
    outline: none;
}

.chat-user-details .chat-user-option ul li a.search {
    background-image: url("/assets/img/search-icon.png");
}

.chat-user-details .chat-user-option ul li a.starred {
    background-image: url("/assets/img/starred-icon.png");
}

.chat-user-details .chat-user-option ul li a.audio {
    background-image: url("/assets/img/audio-icon.png");
}

.chat-user-details .chat-user-option ul li a.doc {
    background-image: url("/assets/img/doc-icon.png");
}

.profile-owner {
    padding-bottom: 10px;
    border-bottom: 1px solid #f7f8f9;
    position: relative;
}

.profile-owner img {
    width: 100%;
    border-radius: 50%;
}

.profile-owner h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
}

.profile-owner span.profile-status {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-owner span.status-details {
    color: #94a1a2;
    font-size: 10px;
    display: inline-block;
}

.profile-owner span.profile-status {
    top: 0px;
    left: 0px;
    border: 2px solid #ffffff;
    height: 10px;
    width: 10px;
}

.profile-owner a.option {
    position: absolute;
    right: 10px;
    top: 15px;
}

.profile-owner ul.dropdown-menu {
    left: auto !important;
    right: 15px !important;
    top: 35px !important;
}

.minimized-video {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 1;
}

.audio-call {
    background: radial-gradient(circle at top, #133c4e, #02070a);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    padding: 25px;
}

.audio-call p,
.min-call-window p {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.audio-call p span,
.min-call-window p span {
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}

.audio-call p span.fav-icon,
.min-call-window p span.fav-icon {
    opacity: 0.5;
}

.audio-call p span.fav-icon:hover,
.min-call-window p span.fav-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.audio-call p span.fav-icon.selected,
.min-call-window p span.fav-icon.selected {
    opacity: 1;
}

.audio-call p span.call-time,
.min-call-window p span.call-time {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 300;
}

.audio-call .callers-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.audio-call .callers-list .caller {
    float: right;
    margin-bottom: 15px;
}

.audio-call .callers-list .caller:hover {
    cursor: pointer;
}

.audio-call .callers-list .caller.add-caller {
    opacity: 0.5;
    position: relative;
}

.audio-call .callers-list .caller.add-caller span {
    display: block;
    height: 30px;
    width: 30px;
    background-image: url("/assets/img/add-user.png");
    background-size: contain;
    position: absolute;
    top: 25%;
    left: 35%;
}

.audio-call .callers-list .caller img {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.5);
}

.audio-call ul.call-action,
.call-action ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.audio-call ul.call-action li,
.call-action ul li {
    display: inline;
    margin: 10px;
}

.audio-call ul.call-action li a,
.call-action ul li a {
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #000000;
    opacity: 0.5;
}

.audio-call ul.call-action li a:hover,
.call-action ul li a:hover {
    opacity: 1;
}

.audio-call ul.call-action li a.disconnect,
.call-action ul li a.disconnect {
    background-color: #e14a3a;
    background-image: url(/assets/img/disconnect-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.audio-call ul.call-action li a.mute,
.call-action ul li a.mute {
    background-image: url(/assets/img/mute-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.audio-call ul.call-action li a.screenshare,
.call-action ul li a.screenshare {
    background-image: url(/assets/img/screenshare-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.audio-call ul.call-action li a.chat,
.call-action ul li a.chat {
    background-image: url(/assets/img/chat-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.audio-call ul.call-action li a.video,
.call-action ul li a.video {
    background-image: url(/assets/img/video-icon.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.call-action ul li a.active {
    background-color: #e14a3a !important;
}

.display-none {
    display: none;
}

.incoming-call-window {
    padding: 25px;
    margin-top: 25px;
}

.incoming-caller .animation-border {
    padding: 0px;
    border-radius: 50%;
    margin-bottom: 25px;
    /* border: 1px solid #ffcaca; */
    animation: icomingCall 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.incoming-caller img {
    width: 100%;
    border-radius: 50%;
}

.incoming-call-window h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #7c7c7c;
}

.incoming-call-window .call-option {
    font-size: 12px;
    text-align: center;
    color: #bfbfbf;
}

.incoming-call-window .call-option span {
    display: block;
}

.incoming-call-window .call-option a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    /* background-color: #e14a3a;
  background-image: url(../img/disconnect-icon.png); */
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 5px;
}

.incoming-call-window .call-option.accept {
    float: left;
}

.incoming-call-window .call-option.accept a {
    background-color: #10d879;
    background-image: url(/assets/img/accept-call-icon.png);
}

.incoming-call-window .call-option.cancel {
    float: right;
}

.incoming-call-window .call-option.cancel a {
    background-color: #fa5657;
    background-image: url(/assets/img/accept-call-icon.png);
}

@keyframes icomingCall {
    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(16, 216, 121, 0.4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(16, 216, 121, 0.4), 0 0 0 20px rgba(16, 216, 121, 0.2);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(16, 216, 121, 0.4), 0 0 0 30px rgba(16, 216, 121, 0.2);
    }
}

.min-call-window {
    background: radial-gradient(circle at top, #133c4e, #02070a);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    padding: 25px;
    position: relative;
}

.min-call-window a.maximize {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    background-image: url("/assets/img/maximize-icon.svg");
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 5px;
    right: 2px;
    opacity: 0.5;
    transition: all 0.3s;
}

.min-call-window a.maximize:hover {
    opacity: 1;
}

.min-call-window .user-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 25px;
}

.min-call-window .user-list ul li {
    display: inline-block;
    margin: 10px;
}

.min-call-window .user-list ul li img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(255, 255, 255, 0.5);
}

.min-call-window .call-action ul {
    margin-top: 25px;
}

.min-call-window .call-action ul li a {
    background-size: 20px 20px;
    height: 35px;
    width: 35px;
}

.min-call-window p span {
    font-size: 15px;
}

.min-call-window .video {
    margin-top: 25px;
}

.min-call-window .video .master {
    position: relative;
}

.min-call-window .video .child {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.max-video-call {
    background: radial-gradient(circle at top, #133c4e, #02070a);
    padding: 25px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 0px;
}

.max-video-call .user-details {
    padding: 50px;
}

.max-video-call .user-details p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}

.max-video-call a.minimize {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    background-image: url("/assets/img/minimize-fff-icon.svg");
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 50px;
    right: 50px;
    opacity: 0.5;
    transition: all 0.3s;
}

.max-video-call a.minimize:hover {
    opacity: 1;
}

.max-video-call .child-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.max-video-call .child-left {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.max-video-call .call-action {
    position: absolute;
    bottom: 25px;
}

.max-video-call .call-action ul li a {
    background-color: #ebebeb;
    opacity: 1;
    transition: 0.3s;
}

.max-video-call .call-action ul li a.screenshare {
    background-image: url(/assets/img/screenshare-000-icon.svg);
}

.max-video-call .call-action ul li a.video {
    background-image: url(/assets/img/video-icon.png);
}

.max-video-call .call-action ul li a.mute {
    background-image: url(/assets/img/mute-000-icon.svg);
}

.max-video-call .call-action ul li a.disconnect {
    background-color: #e14a3a;
    background-image: url(/assets/img/disconnect-icon.png);
}

.max-video-call .call-action ul li a.chat {
    background-image: url(/assets/img/chat-000-icon.svg);
}

.max-video-call .call-action ul li a:hover {
    transform: translate(0, -10px);
}

.show {
    display: inline-block !important;
}

@media (width: 1024px) {
    .msg-list .msg-items .msg-card .user-img {
        padding: 0px;
    }
    .msg-list .msg-items .msg-card .user-img span.friends-status {
        left: 0px;
    }
    .msg-list .msg-items .msg-card.active .user-img span.friends-status {
        border-color: #133c4e;
    }
    .msg-list .msg-items .msg-card h4.friend-name {
        font-size: 12px;
        font-weight: 800;
    }
    .msg-list .msg-items .msg-card p.friend-msg {
        font-size: 10px;
    }
    .msg-list .msg-items .msg-card span.msg-time {
        top: -5px;
        font-size: 8px;
    }
    .msg-chat-header .msg-chatbox-img {
        padding: 0px;
    }
    .msg-chatbox-img span.friends-status {
        left: 0px;
    }
    .msg-chat-header .friend-details h4.friend-name {
        font-size: 14px;
    }
    .status-details {
        padding-left: 2px;
        padding-right: 2px;
    }
    .status-details ul {
        margin-top: 5px;
    }
    .status-details ul li {
        font-size: 10px;
        margin-right: 10px;
    }
    .status-details ul li:first-child::after {
        content: "|";
        position: absolute;
        right: -5px;
    }
    .msg-chatbox .msg-chat-header {
        padding-top: 20px;
    }
    .msg-chat-header ul.setting {
        margin-top: 5px;
    }
    .msg-chat-header ul.setting li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .msg-chat-header ul.setting li a {
        background-size: 25px 25px;
        height: 25px;
        width: 25px;
    }
    .msg-chatbox .msg-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
    .msg-list .msg-items {
        max-height: 550px;
    }
    .msg-list .msg-items .msg-card .user-img span.friends-status {
        left: 20px;
    }
    .msg-chatbox {
        position: unset;
    }
    .msg-chat-header .friend-details {
        padding: 0px;
    }
    .msg-chat-header .friend-details h4.friend-name {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .friend-details ul {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 0px;
    }
    .friend-details ul li {
        display: block;
        font-size: 10px;
        color: #868686;
        margin-right: 25px;
    }
    .friend-details ul li:first-child {
        position: relative;
    }
    .friend-details ul li:first-child::after {
        content: "";
    }
    .friend-details ul li span {
        display: inline-block;
        margin-right: 5px;
    }
    .msg-chat-header .setting-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .msg-chat-header ul.setting {
        margin-top: 20px;
    }
    .msg-chat-header ul.setting li {
        margin-left: 7px;
        margin-right: 7px;
    }
    .msg-chat-header ul.setting li a {
        background-size: 25px 25px;
        height: 20px;
        width: 20px;
    }
    .msg-chatbox .msg-container {
        padding: 15px;
        min-height: 480px
    }
    .msg-container .msg {
        padding: 0;
    }
    .msg-container .msg .msg-user-img {
        padding-right: 0px;
    }
    .msg-container .msg.msg.receive .msg-user-img {
        padding-left: 0px;
        padding-right: 15px;
    }
    .msg-container .msg .msg-user-img img {
        width: auto;
        height: auto;
    }
    .msg-container .msg .msg-content {
        padding: 10px;
        font-size: 12px;
    }
    .msg-container .msg .msg-name {
        font-size: 10px;
    }
    .msg-chatbox .msgbox-container {
        position: absolute;
        bottom: 0px;
        width: 99%;
        padding: 10px;
    }
    .msgbox-container input[type="text"].msgbox {
        padding-left: 20px;
        padding-right: 100px;
    }
    .msgbox-container ul li a {
        height: 20px;
        width: 20px;
    }
    .chat-user-details .user-img .user-status {
        top: 15px;
        left: 20px;
        border: 3px solid #ffffff;
        height: 15px;
        width: 15px;
    }
    .incoming-call-window h4 {
        margin-top: 0px;
    }
    .call-action-container {
        margin-top: 0 !important;
    }
}

.form-control-invalid {
    border-bottom: 2px solid #ff0000 !important;
}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}