<!--The content below is only a placeholder and can be replaced.-->

<!-- page loading -->
<!-- <div class="page-loading"></div> -->
<!-- ./ page loading -->

<!-- models start -->

<!-- <app-disconnected-model></app-disconnected-model>
  <app-call-model></app-call-model>
  <app-add-friend-model></app-add-friend-model>
  <app-new-group-model></app-new-group-model>
  <app-settings-model></app-settings-model>
  <app-edit-profile-model></app-edit-profile-model> -->


<app-max-video-call></app-max-video-call>


<!-- models end -->
<!-- layout -->
<div class="layout">

    <!-- content -->
    <div class="content">
        <div app-chat-menu class="sidebar-group hidden-xs"></div>
        <div app-chat-window class="chat hidden-xs"></div>
        <!-- <div app-user-info id="user-info" class="sidebar-group"></div> -->
        <div app-right-panel class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-xs-12 p-l-r-0 profile-panel"></div>
    </div>
    <!-- ./ content -->
</div>
<!-- ./ layout -->