<div
  *ngIf="maxWindow && remoteStream.id"
  class="max-video-call container-fluid embed-responsive embed-responsive-4by3"
>
  <video
    class="embed-responsive-item"
    *ngIf="getMainVideoStream()"
    autoplay
    [srcObject]="getMainVideoStream()"
    muted
  ></video>
  <a class="minimize" (click)="toggleWindow()" href="javascript:void(0);"></a>
  <div class="col-md-8 user-details">
    <p>
      <span class="name">Garvit Rajput</span> | <span class="time">14:30</span>
    </p>
  </div>
  <div *ngIf="localStream.id" class="col-md-2 p-l-r-0 child-left">
    <div class="embed-responsive embed-responsive-16by9">
      <video
        muted
        [srcObject]="localStream"
        autoplay
        class="embed-responsive-item"
      ></video>
    </div>
  </div>
  <div *ngIf="getSecondaryVideoStream()" class="col-md-2 p-l-r-0 child-right">
    <div class="embed-responsive embed-responsive-16by9">
      <video
        muted
        autoplay
        [srcObject]="getSecondaryVideoStream()"
        class="embed-responsive-item"
      ></video>
    </div>
  </div>
  <div class="col-md-12 call-action">
    <ul>
      <li>
        <a
          href="javascript:void(0);"
          (click)="toggleScreen()"
          class="screenshare"
          [ngClass]="{ active: screenDisabled }"
        >
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="toggleMute()"
          [ngClass]="{ active: audioDisabled }"
          class="mute"
        >
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="disconnect()" class="disconnect">
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="toggleVideo()"
          [ngClass]="{ active: videoDisabled }"
          class="video"
        >
        </a>
      </li>
    </ul>
  </div>
</div>
