<!-- <ul class="list-group list-group-flush">
  <li
    app-user-list-item
    class="list-group-item"
    [ngClass]="{ 'open-chat': user.opened }"
    *ngFor="let user of users; let i = index"
    [user]="user"
    (click)="updateActiveUser(i)"
  ></li>
</ul> -->

<div class="col-md-12 col-xs-12 msg-items">
    <div class="col-md-12 col-xs-12 msg-card" app-user-list-item [ngClass]="{ 'active': user.opened }" *ngFor="let user of users; let i = index" [user]="user" (click)="updateActiveUser(i)">

    </div>

</div>