<div class="col-md-12 col-xs-12 profile-panel-header">
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-xs-3 col-xs-offset-2 img-container">
        <img [src]="user?.profileImagePath" />
    </div>
    <div class="col-lg-7 col-md-8 col-md-offset-1 col-xs-5 p-l-0">
        <button type="button" class="btn dropdown-toggle name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ user.firstName + " " + user.lastName }}<span class="caret"></span>
    </button>
        <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a [routerLink]="['/login']">Logout</a></li>
        </ul>
    </div>
</div>
<app-incoming-call></app-incoming-call>
<app-min-call-window></app-min-call-window>
<app-profile-panel></app-profile-panel>