<div
  *ngIf="remoteStream.id && !maxWindow"
  class="col-md-12 p-l-r-0 min-call-window"
>
  <a class="maximize" (click)="toggleWindow()" href="javascript:void(0);"></a>
  <div class="col-md-12">
    <p>
      <span class="glyphicon glyphicon-star fav-icon" aria-hidden="true"></span>
      <span class="caller-name">Garvit Rajput</span> |
      <span class="call-time">14:28</span>
    </p>
  </div>

  <!--AUDIO BEGIN-->
  <div *ngIf="!getMainVideoStream()" class="col-md-12 p-l-r-0 audio">
    <div class="col-md-12 user-list">
      <ul>
        <li>
          <img src="assets/img/user3.jpg" />
        </li>
        <li>
          <img src="assets/img/user5.jpg" />
        </li>
      </ul>
    </div>
  </div>
  <!--AUDIO END-->

  <!-- VIDEO BEGIN -->
  <div *ngIf="getMainVideoStream()" class="col-md-12 p-l-r-0 video">
    <div class="col-md-12 p-l-r-0 master">
      <div class="embed-responsive embed-responsive-4by3">
        <video
          *ngIf="getMainVideoStream()"
          autoplay
          [srcObject]="getMainVideoStream()"
          muted
          class="embed-responsive-item"
        ></video>
      </div>
      <div
        *ngIf="getSecondaryVideoStream()"
        class="col-md-4 p-l-r-0 child-left"
      >
        <div class="embed-responsive embed-responsive-4by3">
          <video
            muted
            [srcObject]="getSecondaryVideoStream()"
            autoplay
            class="embed-responsive-item"
          ></video>
        </div>
      </div>
      <div *ngIf="localStream.id" class="col-md-4 p-l-r-0 child">
        <div class="embed-responsive embed-responsive-4by3">
          <video
            muted
            [srcObject]="localStream"
            autoplay
            class="embed-responsive-item"
          ></video>
        </div>
      </div>
    </div>
  </div>
  <!--VIDEO END-->

  <div class="col-md-12 call-action">
    <ul>
      <li>
        <a
          href="javascript:void(0);"
          (click)="toggleScreen()"
          class="screenshare"
          [ngClass]="{'active':screenDisabled}"
        >
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="toggleMute()" [ngClass]="{'active':audioDisabled}" class="mute"> </a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="disconnect()" class="disconnect">
        </a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="toggleVideo()" [ngClass]="{'active':videoDisabled}" class="video"> </a>
      </li>
    </ul>
  </div>
</div>
<video
  *ngIf="remoteStream.id"
  class="hidden"
  [srcObject]="remoteStream"
  autoplay
  class="embed-responsive-item"
></video>
